* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --green: #86e627c9;
  --white: #ffffff;
  --grey1: #333333;
  --grey2: #1f1f1f;
  --grey3: #141414;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: inline-block;
  max-width: 100%;
}

ul {
  list-style: none;
}

h3 {
  color: var(--white);
  font-size: 1.9rem;
}

p {
  color: var(--white);
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: 300;
}

.location {
  color: var(--green);
}

.attribution {
  font-size: 1.5rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey2);
  border-radius: 8px;
}

main {
  margin: 0 auto;
<<<<<<< HEAD
  background-color: var(--grey3);
}

=======


}

.image-container {
  max-width: 70px;
  width: 100%;
  padding: 1.7rem 1rem;
  }
>>>>>>> 4b8d8c668831ccc01df425bad788f0b97d81bbe9

.pic {
  border-radius: 50%;
}

.contianer {
  display: flex;
  background-color: #141414;
  align-items: center;
  justify-content: center;
  padding: 8rem 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  border-radius: 7px;
  padding: 1rem 1.7rem 2rem 1.7rem;
  font-weight: 400;
}

.primary {
  padding: 1rem 0rem;
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--grey1);
  width: 250px;
}

.detail {
  text-align: center;
  color: #3e52a3;
}

/*Web responsiveness*/

@media (min-width: 756px) {
  .primary:hover {
    background-color: var(--green);
  }
}
